{% extends 'base.html.twig' %}

{% block body %}
    <div class="admin-wrapper">
        <h1 class="text-xl font-bold">Admin Dashboard</h1>

        <div class="my-5 bg-gradient-to-r from-cyan-500 to-blue-500 rounded h-64"></div>
    </div>
{% endblock %}
